<div class="jumbotron text-center">
    <h1>Chat</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Sidebar content -->

    </div>
    <div class="col-md-10">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>#</th>
            <td></td>
            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form >
              <th><input class="form-control" type="text" placeholder="Message" ></th>
              <th><button type="submit" class="btn btn-primary btn-lg btn-block" >Send</button></th>
            </form>
            {{formData}}
          </tr>
        </tbody>
      </table>


    </div>
  </div>
