<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="es2App">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>es1</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <!-- <script src="css/app.css"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="/js/angular.js"></script><!-- load angular -->
  <script src="/js/app.module.js"></script>
  <script src="contact-list/contact-list.module.js"></script>
  <script src="contact-list/contact-list.component.js"></script>

</head>
<body>
